/* IMPORTED STYLES AND FONTS
------------------------------------------------------------------------------*/


@import	url('reset.css');


/* COLORS 
700108 - dark red
9d030d - medium red

*/



/* FONTS
------------------------------------------------------------------------------*/

html {
		font: normal normal 300 17px/1.5em 'Gill Sans','Helvetica','Arial',sans-serif;
		color: #5b5b5b;
	
}

p {
		font: normal normal 300 1.1em/1.5em 'Baskerville','Garamond','Georgia',serif;
		margin-bottom: 10px;
		text-align: justify;
}

h1 {
		font: normal normal 600 1.8em/1.5em 'Gill Sans','Helvetica','Arial',sans-serif;
		padding: 20px 0 20px 0;
}

h2 {
		font: italic normal 300 1.2em/1.5em 'Gill Sans','Helvetica','Arial',sans-serif;
		
}

h3 {
		font: normal normal 300 1.1em/1.5em 'Gill Sans','Helvetica','Arial',sans-serif;
		text-transform: uppercase;
}

h4 {
		font: normal normal 600 1.2em/1.5em 'Gill Sans','Helvetica','Arial',sans-serif;
}

a {
		color: #9d030d;
		text-decoration: 	underline;	
}

a:hover {
		text-decoration: 	none;	
}

.center {
	text-align:center;
}

ul {
	list-style: square inside;
	line-height: 1.5em;
}

pre {
	font-family: monospace;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}


/* IMAGES
------------------------------------------------------------------------------*/


img {
	max-width: 100%;
}


figure {
	padding-bottom: 10px;
	padding-top: 10px;
}


.thumbnail {
	max-height: 50px;	
	max-width: 100px;
}


/* HEADERS
------------------------------------------------------------------------------*/

/* Top nav */
.top-nav {
    background-color: #700108;
    padding-bottom: 5px;
    padding-top: 5px;
}

.top-nav .grid {
	padding-top: 0;
	padding-bottom: 0;
}

.top-nav a {
	font-size: 0.8em;
	color: #DDD;
	text-decoration: none;
}

.top-nav a:hover {
	color: #fff;
	border-bottom: 2px solid #fff;
}

.top-nav ul {
	list-style: none;
}

.top-nav li {
	display: inline-block;
	position: relative;
	min-width: 50px;
}

.top-nav li>ul {
    list-style: none outside none;
    position: absolute;
    right: 0;
    width: 100%;
    padding: 10px 0 0 0;
    z-index: 1;
    visibility: hidden;
    background-color: #700108;
}

.top-nav li>ul>li {
	width: 100%;
	padding: 5px 3px;
}

/* Main nav */
.main-nav {
	background-color: #9d030d;
	border-bottom: 8px solid #700108;
	height: 140px;
	padding-top: 20px;
}

.logo {
	max-width: 200px;
}

/* MENU AND SUBMENU */

.mainmenu {
	padding-top: 38px;
}



nav.mainmenu>ul>li, nav.mainmenu>ul>li>a  {
		display: inline-block;	
}

nav.mainmenu>ul>li{
	padding: 0 20px;
}

nav.mainmenu>ul>li>a  {
		padding:5px 0 2px 0;
		text-decoration: none;
		font: 300 1em/1.5em 'Gill Sans','Helvetica','Arial',sans-serif;
		text-transform: uppercase;
		color:#DDD;
		
}

nav.mainmenu>ul>li:last-child  {
		padding-right: 0;
}


nav li:hover ul {
	visibility: visible;
}
.selected>a, .selected-parent>a, nav.mainmenu>ul>li>a:hover, li > ul >li > a:hover  {
		border-bottom: 2px solid #fff;
		color: #fff !important;
}


/* SEARCH FIELD
------------------------------------------------------------------------------*/

.search-field {
    display: inline;
    float: right;
    margin: 0;
}

.search-field input {
    background-color: transparent;
    border-color: #DDD;
    border-image: none;
    border-style: solid;
    border-width: 0 0 2px;
    box-shadow: none;
    margin: 43px 0 0 40px;
    width: 140px;
    padding: 0;
    color: transparent;
    font-size: 0.9em;
    background-image: url('img/search.png');
    background-repeat: no-repeat;
    background-position: 121px 5px;
}

.search-field input:focus {
	border-color: #FFF;
	color: #fff;
	background-image: none; 
	}


/* FOOTER
------------------------------------------------------------------------------*/

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

html, body {
	height: 100%;
	background-color: #f3f3f3;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.site-footer, .push {
	height: 100px; /* .push must be the same height as .footer */
	width: 100%;
	max-width: 2000px;
	min-width: 1200px;
	margin: 0 auto;
	
}

.site-footer{

	border-top: 8px solid #9d030d;
	padding-top: 20px;
	background-color: #700108; 
	color: #fafafa;
}

.site-footer a {
	color: #fafafa;
	text-decoration: none;
}




/* FORMS
------------------------------------------------------------------------------*/

/* login-form */

.login-form {
	width: 250px;
	margin: 40px auto;
	

}

.login-form input {
	margin: 20px auto;

}

.login-form label {
	padding: 20px 0;
}

.login-form input[type=submit] {
	width: 100%;
	margin-top: 40px;
}

.login-form fieldset {
	padding: 40px;
	border: 2px double #d7d7d7;
}


/* GENERAL */

legend {
	text-transform: uppercase;

}


 input, textarea, select {
	display: block;
	margin: 5px 15px 10px 0;
	padding: 10px;
	font-size: 1em;
	border: 1px solid #d7d7d7;
	box-shadow: 10px 10px 5px -12px #444 inset;
	font: normal normal 300 1.1em/1.5em 'Gill Sans','Helvetica','Arial',sans-serif;
	max-width: 100%;
	resize: vertical;
}

label{
	float: left;
	margin: -20px 0;
	font: normal normal 300 1.1em/1.5em 'Gill Sans','Helvetica','Arial',sans-serif;
	text-transform: uppercase;
}

input[type=submit], .regretbutton {
	padding: 10px 20px;
	width: 14.5%;
	clear: both;
	display: block;
	margin: 20px 0;
	background-color: #9d030d;	
	color: white;
	text-align: center;
	font: normal normal 300 1.1em/1.5em 'Gill Sans','Helvetica','Arial',sans-serif;
	text-transform: uppercase;
	border: none;
	box-shadow: 0 3px 0 1px #700108;
	text-decoration: none;
}


input[type=submit]:hover {
	background-color: #d9574b;	
	cursor: pointer; 
}

input[type=submit]:disabled {
	background-color: #5b5b5b;
	box-shadow: 0 3px 0 1px #111;	
	cursor: not-allowed; 
}

textarea {
	width: 100%;
	height: 400px;
}



/* TABLES
------------------------------------------------------------------------------*/

	table {
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 20px;
		
	}
	
	td, th {
		
		padding: 0.5em;
		vertical-align: middle;
		text-align: left;
		border-bottom: 1px solid #d7d7d7;
}

	thead {
		border-bottom: 2px solid #888;
		font-weight: 600;
	}


	tr:hover {
		background-color: #f9f9f9;
	}

	td {
		max-width: 250px;
	}

/* BORDERS AND PADDING
------------------------------------------------------------------------------*/



/* MISC. CLASSES
------------------------------------------------------------------------------*/


ul.horizontal>li {
	display: inline-block;
	float: left;	
	padding-right: 5px;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

nav.pagenav {
text-align: center;

}

.debug {
	font-size: smaller;
	color: #aaa;
}

.grey {
	background-color: #fafafa;
	border: 1px solid #d7d7d7;
	border-width: 1px 0;
}

.wrong {
    background-color: #afd6dd;
    border: 3px solid #71b7c4;
    padding: 20px;
    position: relative;
    top: 87px;
}

.registerbutton {
	display: block;
	width: 250px;
	margin: 30px auto;
	text-align: center;
}

.register-form input {
    float: left;
    margin-bottom: 20px;
    width: 80%;
}

.success-registration {
    background-color: #c5e5c5;
    border: 3px solid #9ed39e;
    padding: 20px;
    position: relative;
    top: 87px;
}



/* BREADCRUMB
------------------------------------------------------------------------------*/

.breadcrumb {
	padding-bottom: 20px;
}

.breadcrumb a {
	text-decoration: none;
}
/* Orderby nav and Hits per page nav
------------------------------------------------------------------------------*/

.orderby, .hits-per-page, .pagenav, .orderby p, .hits-per-page p, .pagenav p{
	text-transform: uppercase;
	font-family: 'Gill Sans','Helvetica','Arial',sans-serif;

}

.orderby h3, .hits-per-page h3 {
	padding: 10px 0 20px 0;
	}

.orderby a, .hits-per-page a,  .pagenav a {
	text-decoration: none;
	color: #5b5b5b;
}

.orderby a:hover, .hits-per-page a:hover,  .pagenav a:hover {
	color:#9d030d;
	font-weight: 600;
}

.hits-per-page {
	text-align: right;
}

.currentChoice {
	font-weight: 600;
	color:#9d030d;
}

/* PROFILE
------------------------------------------------------------------------------*/

.profile {
	padding-left: 80px;
}



.profile-header h2 {
    margin-top: -20px;
    padding-bottom: 20px;
}
